.begin {
  //background: linear-gradient(90deg, #c2b826  0%, #fff212 69.06%, #bab02e 100%);
  padding: 49px 0;
  &__content {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__left {
    width: 60%;
  }
  &__right {
    background: #fff212;
    border-radius: 47% 0 47% 44%;
    width: 40%;
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 500px;
      border-bottom: 30px solid #fff;
      position: absolute;
      bottom: -10px;
      left: 0;
      border-radius: 47%;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    color: #000;
  }
  &__desc {
    color: #000;
    letter-spacing: 0.44px;
    font-weight: 400;
    line-height: 24px;
    margin: 24px 0 36px;
  }
  &__btns {
    display: flex;
    column-gap: 32px;
  }
  &__btn {
    padding: 16px 24px;
    border-radius: 12px;
    border: 1px solid #000;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    &:hover {
      border-radius: 12px;
      //background: #7B68EE;
      background: #fff212;
      box-shadow: 0px 1px 6px 0px rgba(31, 41, 55, 0.10), 0px 10px 15px 0px rgba(51, 22, 102, 0.25);
      border: 1px solid #fff212;
    }
  }
}
@media (max-width: 1024px) {
  .begin__right::before {
    height: 420px;
  }
  .begin__desc {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .begin__right::before {
    height: 400px;
  }
}
@media (max-width: 886px) {
  .begin__title {
    font-size: 54px;
    line-height: 56px;
  }
  .begin__right::before {
    height: 360px;
  }
}
@media (max-width: 768px) {
  .begin__left {
    width: 55%;
  }
  .begin__right{
    width: 45%;
  }
  .begin__desc {
    width: 85%;
  }
}
@media (max-width: 676px) {
  .begin__right {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 50%;
    &::before {
      height: 320px;
    }
  }
  .begin__left {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .begin {
    background: #fff212;
  }
  .begin__right {
    display: none;
  }
  .begin__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .begin__desc {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .begin__title {
    font-size: 49px;
  }
}