.edu {
  padding: 150px 0 200px;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#c2b826), color-stop(69.06%, #fff212), to(#bab02e));
  background: linear-gradient(90deg, #c2b826 0%, #fff212 69.06%, #bab02e 100%);
}
.edu .container {
  position: relative;
  z-index: 2;
}
.edu__title {
  font-size: 48px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-bottom: 150px;
}
.edu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.edu__info {
  width: 55%;
  padding: 120px 200px 148px 24px;
  background: url("assets") center/cover no-repeat;
  border-radius: 16px;
  -webkit-box-shadow: 0px 25px 50px 0px rgba(80, 44, 138, 0.25);
          box-shadow: 0px 25px 50px 0px rgba(80, 44, 138, 0.25);
  position: relative;
}
.edu__info-img {
  width: 320px;
  height: 462px;
  position: absolute;
  bottom: 0;
  right: -70px;
}
.edu__info-title {
  color: #000;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 16px;
}
.edu__info-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.44px;
}
.edu__list {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.edu__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.44px;
  color: #000;
}
.edu__list-item svg path {
  fill: #000;
}