.stages {
  position: relative;
  padding: 100px 0;
  &::before {
    content: '';
    background: url("../assets/Круги.svg")center/cover no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__row {
    padding: 450px 0;
    display: flex;
    justify-content: center;
    column-gap: 162px;
    position: relative;
  }
  &__card {
    width: calc(33.33333% - 108px);
    border-radius: 12px;
    background: var(--White, #FFF);
    box-shadow: 0px 8px 20px 0px rgba(44, 76, 138, 0.20);
    padding: 25px 24px 40px;
    position: absolute;
    //overflow: hidden;
    text-align: center;
    &::before {
      content: '';
      position: absolute;
      background: url("../assets/Vector.svg") no-repeat;
      width: 100%;
      height: 200px;
      top: 0;
      left: 0;
      border-radius: 12px 12px 0 0;
    }
    &-title {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.15px;
      color: #000;
      position: relative;
      z-index: 3;
      margin-bottom: 40px;
    }
    &-desc {
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: 0.1px;
      text-align: left;
    }
    &-back {
      position: absolute;
      top: -50%;
      left: -50%;
      z-index: -1;
    }
    &-first {
      top: 120px;
      left: 120px;
    }
    &-third {
      right: 0;
      bottom: 0;
    }

  }
}