@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container-small {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.header__right a, .header__right p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: #000;
}

.begin {
  padding: 49px 0;
}
.begin__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.begin__left {
  width: 60%;
}
.begin__right {
  background: #fff212;
  border-radius: 47% 0 47% 44%;
  width: 40%;
  position: relative;
}
.begin__right::before {
  content: "";
  width: 100%;
  height: 500px;
  border-bottom: 30px solid #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 47%;
}
.begin__right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.begin__title {
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  color: #000;
}
.begin__desc {
  color: #000;
  letter-spacing: 0.44px;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0 36px;
}
.begin__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.begin__btn {
  padding: 16px 24px;
  border-radius: 12px;
  border: 1px solid #000;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}
.begin__btn:hover {
  border-radius: 12px;
  background: #fff212;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(31, 41, 55, 0.1), 0px 10px 15px 0px rgba(51, 22, 102, 0.25);
          box-shadow: 0px 1px 6px 0px rgba(31, 41, 55, 0.1), 0px 10px 15px 0px rgba(51, 22, 102, 0.25);
  border: 1px solid #fff212;
}

.for {
  padding: 200px 0 100px;
}
.for__content {
  border-radius: 32px;
  border: 5px solid #fff212;
  padding: 80px 45px 64px;
}
.for__title {
  font-size: 35px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
.for__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  row-gap: 40px;
  margin: 80px 0 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.for__item {
  width: calc(33.3333% - 66.66666px);
  text-align: center;
}
.for__item-title {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.for__item-title span {
  position: relative;
}
.for__item-title span::before {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 32px;
  background: linear-gradient(225deg, #fff212 0%, #000000 69.06%);
}
.for__item-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #000;
  margin-top: 24px;
}

.edu {
  padding: 150px 0 200px;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#c2b826), color-stop(69.06%, #fff212), to(#bab02e));
  background: linear-gradient(90deg, #c2b826 0%, #fff212 69.06%, #bab02e 100%);
}
.edu .container {
  position: relative;
  z-index: 2;
}
.edu__title {
  font-size: 48px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-bottom: 150px;
}
.edu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.edu__info {
  width: 55%;
  padding: 120px 200px 148px 24px;
  background: url("../assets/empty.png") center/cover no-repeat;
  border-radius: 16px;
  -webkit-box-shadow: 0px 25px 50px 0px rgba(80, 44, 138, 0.25);
          box-shadow: 0px 25px 50px 0px rgba(80, 44, 138, 0.25);
  position: relative;
  margin: 30px 0;
}
.edu__info-img {
  width: 320px;
  height: 462px;
  position: absolute;
  bottom: 0;
  right: -70px;
}
.edu__info-title {
  color: #000;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 16px;
}
.edu__info-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.44px;
}
.edu__list {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.edu__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.44px;
  color: #000;
}
.edu__list-item svg path {
  fill: #000;
}

.stages {
  position: relative;
  padding: 100px 0;
}
.stages::before {
  content: url("../assets/Круги.svg");
  position: absolute;
  top: 0;
  left: 0;
}
.stages__row {
  padding: 450px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 162px;
     -moz-column-gap: 162px;
          column-gap: 162px;
  position: relative;
}
.stages__card {
  width: calc(33.33333% - 108px);
  border-radius: 12px;
  background: var(--White, #FFF);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(44, 76, 138, 0.2);
          box-shadow: 0px 8px 20px 0px rgba(44, 76, 138, 0.2);
  padding: 25px 24px 40px;
  position: absolute;
  text-align: center;
}
.stages__card::before {
  content: "";
  position: absolute;
  background: url("../assets/Vector.svg") no-repeat;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  border-radius: 12px 12px 0 0;
}
.stages__card-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.15px;
  color: #000;
  position: relative;
  z-index: 3;
  margin-bottom: 40px;
}
.stages__card-desc {
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
  text-align: left;
}
.stages__card-back {
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: -1;
}
.stages__card-first {
  top: 120px;
  left: 120px;
}
.stages__card-third {
  right: 0;
  bottom: 0;
}

.modules {
  padding: 180px 0;
}
.modules__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.modules__info {
  width: 55%;
  padding: 120px 200px 148px 24px;
  background: url("../assets/empty.png") center/cover no-repeat;
  border-radius: 16px;
  position: relative;
  margin: 30px 0;
}
.modules__info-img {
  width: 320px;
  height: 462px;
  position: absolute;
  bottom: 0;
  right: -70px;
}
.modules__info-title {
  color: #000;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 16px;
}
.modules__info-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.44px;
}
.modules__content {
  border-radius: 12px;
  background: var(--White, #FFF);
  -webkit-box-shadow: 0px 25px 50px 0px rgba(44, 76, 138, 0.25);
          box-shadow: 0px 25px 50px 0px rgba(44, 76, 138, 0.25);
  padding: 48px 80px;
}
.modules__title {
  color: var(--text-text, rgba(0, 0, 0, 0.87));
  text-align: center;
  font-size: 48px;
  font-weight: 400;
}
.modules__desc {
  padding: 48px 0 32px;
  color: var(--text-text-inactive, rgba(0, 0, 0, 0.6));
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.44px;
}
.modules__select {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.modules__select-option {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #fff212;
  background: #fff212;
  padding: 18px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.accordion-header {
  cursor: pointer;
}

.accordion-content {
  display: none;
  overflow: hidden;
  -webkit-transition: display 0.2s ease-in-out;
  transition: display 0.2s ease-in-out;
}

.arrow {
  float: right;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

/* Поворачиваем стрелку при открытии аккордеона */
.accordion-header.open .arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer {
  background: #fff212;
  padding: 100px 0;
}
.footer a {
  color: black;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.footer__card {
  width: calc(25% - 22.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.footer__card-text {
  font-size: 15px;
}
.footer__card-title {
  font-size: 20px;
}
.footer__card-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.footer__card-field {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: none;
  outline: none;
  border-radius: 8px;
}
.footer__card-btn {
  padding: 15px 0;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  background: black;
  color: #fff212;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  font-size: 20px;
}